[submodule "www/components/bar-card"]
	path = www/components/bar-card
	url = https://github.com/custom-cards/bar-card.git
[submodule "www/components/mini-graph-card"]
	path = www/components/mini-graph-card
	url = https://github.com/kalkih/mini-graph-card.git
[submodule "www/components/mini-media-player"]
	path = www/components/mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
[submodule "www/components/simple-thermostat"]
	path = www/components/simple-thermostat
	url = https://github.com/nervetattoo/simple-thermostat.git
[submodule "www/components/simple-weather-card"]
	path = www/components/simple-weather-card
	url = https://github.com/kalkih/simple-weather-card.git
