homeassistant:
  name: Home
  latitude: 47.6147161
  longitude: -121.907598
  elevation: 62
  unit_system: imperial
  time_zone: America/Los_Angeles
  customize: !include customize.yaml

frontend:

config:

http:
  api_password: !secret http_password

updater:
  reporting: false

discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google

cloud:
  alexa:
    filter:
      include_domains:
        - lock
        - light
        - switch
        - group

device_tracker:
  - platform: asuswrt
    host: 192.168.1.1
    username: admin
    password: !secret asuswrt_password
    new_device_defaults:
      track_new_devices: false

zwave:
  usb_path: /dev/ttyACM0
  network_key: !secret zwave_network_key

media_player:
  - platform: plex
  - platform: cast
    host: qicast.local

switch:
  - platform: transmission
    host: qisrv.local
  - platform: mqtt
    name: String Lights
    command_topic: "cmnd/porch/sonoff/POWER"
    state_topic: "stat/porch/sonoff/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

sensor:
  - platform: yr
    monitored_conditions:
      - temperature
      - symbol
      - precipitation
      - windSpeed
      - pressure
      - windDirection
      - humidity
      - fog
      - cloudiness
  - platform: transmission
    host: 192.168.1.20
    monitored_variables:
      - 'current_status'
      - 'download_speed'
      - 'upload_speed'
      - 'active_torrents'
#  - platform: mqtt
#    state_topic: "test/counter"
#    name: "Counter1"
#    unit_of_measurement: "%"

light:
  - platform: tplink
    name: Floor Lamp
    host: 192.168.1.29 # qibulb.local

cover:
  - platform: mqtt
    name: Right Garage Door
    friendly_name: Right Garage
    state_topic: "garage/door/1"
    command_topic: "garage/button/1"
    payload_open: "OPEN"
    payload_close: "OPEN"
    payload_stop: "OPEN"
    state_open: "OPENED"
    state_closed: "CLOSED"
    optimistic: false
    retain: false
    value_template: '{{ value }}'
  - platform: mqtt
    name: Left Garage Door
    friendly_name: Left Garage
    state_topic: "garage/door/2"
    command_topic: "garage/button/2"
    payload_open: "OPEN"
    payload_close: "OPEN"
    payload_stop: "OPEN"
    state_open: "OPENED"
    state_closed: "CLOSED"
    optimistic: false
    retain: false
    value_template: '{{ value }}'

mqtt:
  broker: core-mosquitto
  username: qimqtt
  password: !secret mqtt_password

camera:
  - platform: ffmpeg
    input: -rtsp_transport tcp -i rtsp://qifang.local/unicast -vf transpose=1
    name: Garage Cam

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
